# Python Virtual Environments
venv/
node_modules/
.env
LivestockIQ/media/models/*.pth
LivestockIQ/auto_scan/
model_vit.pth
LivestockIQ/media/detections
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.venv/
.*/
.claude